[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:thatanjan/neovim-config.git
[submodule "polybar-themes"]
	path = polybar-themes
	url = git@github.com:thatanjan/polybar-themes.git
[submodule "kitty/.config/kitty/kitty-themes"]
	path = kitty/.config/kitty/kitty-themes
	url = git@github.com:dexpota/kitty-themes.git
